
.boxes{
    height: 450px;
    width: 300px;
    text-align: center;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
    background-color: grey;
}
.macro-count-div{
    text-align: center;
}
.edit-button{
    border: none;
    background-color: white;
    border-radius: 5px;
    height: 45px;
    width: 90px;
    font-size: 20px;
    
}
.edit-button:hover{
    opacity: .5;
    cursor: pointer;
}
.div-a{
    padding-top: 30px;
}
.div-c{
    padding-bottom: 30px;
}